<<<<<<< HEAD
body {
  background-image: url("bg.jpg");
  background-blend-mode: darken;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  text-align: center;

  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(251, 138, 1, 0.53);
  color: white;
}
.label {
  color: rgb(255, 183, 0);
}
.a {
  color: beige;
  text-align: center;
}
image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
=======
body{
    background-image: url("contact6.jpg");
    background-color: black;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}


    
  





>>>>>>> team-html
